nav {
  float: left;
  width: 230px;
}

aside {
  margin-left: 250px;
}

#button {
	width: 230px;
}

#buybutton {
}

.popupBox {
  position: absolute;
  margin-left: 70px;
}

.popupCell {
   background-color: #fffafa;
}

.popupCell:hover {
  background-color: #f5ebe9;
}

.popupItem {
  color: #333;
  text-decoration: none;
  font-size: 1.2em;
}

.popupItem:hover {
  text-decoration: underline;
}
